*
  margin: 0
  padding: 0

  font-family: Arial, sans-serif

.wrapper
  position: relative
  margin: auto

  width: 900px
  height: 100vh

  display: grid
  grid-template-columns: 20% 80%
  grid-template-rows: 150px 1fr
  grid-template-areas: "red red" "orange blue"

  .blue, .red, .orange
    color: white
    display: flex
    justify-content: center
    align-items: center

    font-size: 38pt

  .red
    grid-area: red
    background: #ffa5a1

  .blue
    grid-area: blue
    background: #91c8ff

  .orange
    grid-area: orange
    background: #ffd28f

@media (min-width: 400px) and (max-width: 900px) and (orientation: landscape)
  .wrapper
    width: 100vw

@media (min-width: 400px) and (max-width: 900px) and (orientation: portrait)
  .wrapper
    width: 120vw
    grid-template-columns: 20vw 100vw
    grid-template-rows: 400px auto
    grid-template-areas: ". red" "orange blue"

    .blue
      min-height: 100vh

@media only screen and (max-width: 400px)
  .wrapper
    width: 120vw
    grid-template-columns: 20vw 100vw
    grid-template-rows: 400px auto
    grid-template-areas: ". red" "orange blue"

    .blue
      min-height: 100vh